<div class="jumbotron">
    <h1>MVC API</h1>
    <p class="lead">An example API project written in ASP.NET MVC using C#. This will act as the WebDataLayer and is it's own project which runs independantly to the clientside project(s).</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Application Programming Interface</h2>
        <p>In computer programming, an Application Programming Interface (API) is a set of subroutine definitions, protocols, and tools for building application software. In general terms, it is a set of clearly defined methods of communication between various software components. A good API makes it easier to develop a computer program by providing all the building blocks, which are then put together by the programmer.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Application_programming_interface">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development. ASP.NET MVC includes many features that enable fast, TDD-friendly development for creating sophisticated applications that use the latest web standards.</p>
        <p><a class="btn btn-default" href="https://www.asp.net/mvc">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Speration Of Concerns</h2>
        <p>By using a website to host the data layer we adhere to the computer science princible of seperation of concerns. So no compiled DLL exists which needs to be updated in order to supply a change to the user.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Separation_of_concerns">Learn more &raquo;</a></p>        
    </div>
</div>
